.git
.github
.vscode

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache

**/node_modules

.venv
dq-engine/venv

tmp
**/tmp
!tmp/
!tmp/dq-airflow-dags-dist/
!tmp/dq-airflow-dags-dist/dq-airflow-dags.zip
!tmp/dq-airflow-sdk-dist/
!tmp/dq-airflow-sdk-dist/*.whl
!tmp/dq-airflow-operator-dist/
!tmp/dq-airflow-operator-dist/*.whl

**/.DS_Store
